{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta charset="UTF-8">
    <title>J. Messaho</title>
</head>
<body>

<nav>
<div class="boutons-container">
    <button class="btn">Accueil</button>
    <button class="btn">Services</button>
    <button class="btn">À propos</button>
    <button class="btn">Contact</button>
</div>
</nav>
<h1> Bienvenue sur la page perso du professeur {{ myname }} </h1>





<footer>
        <p>J. Messaho &copy; 2026 -- Il est actuellement : {% now "H:i:s" %}</p>
    </footer>
</body>
</html>
