p{
    color:navy;
}
h1{
    color: black;
}
body{
    background: lightyellow;
}
.btn {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

.btn:hover {
    background-color: #2980b9;
}
.boutons-container {
    display: flex;
    justify-content: center; /* Centre les boutons horizontalement */
    gap: 15px;
}
footer {
            background-color: #f1f1f1;
            text-align: center;
            padding: 1rem;
        }